<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Signup</title>
</head>

<body style="font-family: Arial; padding: 20px;">
  <h2>Welcome to OpSync!</h2>
  <p>Your verification code for creating a new account is:</p>

  <h1 style="font-size: 32px; letter-spacing: 4px;">{{OTP}}</h1>

  <p>This code will expire in <strong>5 minutes</strong>.</p>
  <p>If you didn't request this, feel free to ignore this email.</p>

  <br />
  <p>— OpSync Team</p>
</body>

</html>
